:root {
  --main-color: thistle;
  --active-color: cadetblue;
  --bg-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-tap-highlight-color: transparent;
}

.table__eyeColor-color {
  background-color: var(--bg-color);
  color: transparent;
}

.container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid black;
}

th {
  width: calc(100% / 4);
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

td {
  line-height: 24px;
  padding: 0 10px;
  text-align: center;
  border: 1px solid black;
}

.table__about-trim {
  margin: 0;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: column;
}

.form--hidden {
  display: none;
}

.checked {
  background-color: var(--main-color);
}

.th-asc::after {
  content: " \25B2";
}

.th-desc::after {
  content: " \25BC";
}

.table--container {
  width: 50%;
}

.form--container {
  width: 50%;
  height: 542px;
  border: 2px solid black;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

input,
textarea {
  width: 100%;
  clear: both;
  margin: 10px auto;
}

textarea {
  height: 60px;
}

.field {
  clear: both;
}

.button {
  display: block;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
  border: inherit;
  background-color: var(--main-color);
}

.button:hover {
  cursor: pointer;
  background-color: var(--active-color);
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button-pagination {
  width: 40px;
  height: 40px;
  border: none;
  margin: 20px 5px;
  background-color: var(--main-color);
  cursor: pointer;
}

.active {
  background-color: var(--active-color);
}
